---
---

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css2?family=Castoro&display=swap');
body {background-color: #ffddcc; font-family: 'Castoro', serif;}
a { color: #500; }
a:hover { color: #500; font-weight: bold;}
.active { font-weight: bold; }
